* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.border {
  margin: 10px;
  padding: 10px;
  width: 500px;
  height: 250px;
  border-top: 5px solid black;
  border-bottom: 5px dashed black;
  border-left: 5px dotted black;
  border-right: 5px double black;
}
